In [87]:
import pandas as pd
import math

def extract_date_features(date_entry):
    """
    Extracts year, month, quarter, week-of-year, day-of-year, week-of-month, 
    and day-of-week from a given date.

    Parameters:
    date_entry (str or datetime): A date entry in string format (YYYY-MM-DD) or a datetime object.

    Returns:
    dict: A dictionary with extracted date features.
    """
    # Convert the input to a datetime object if it's a string
    if isinstance(date_entry, str):
        date_entry = pd.to_datetime(date_entry)
    
    # Calculate the week of the month
    first_day_of_month = date_entry.replace(day=1)
    week_of_month = math.ceil((date_entry.day + first_day_of_month.weekday()) / 7)

    # Extract features
    features = {
        "year": date_entry.year,
        "Month": date_entry.month,
        "Quarter": (date_entry.month - 1) // 3 + 1,
        "Week-of-year": date_entry.isocalendar()[1],
        "Day-of-year": date_entry.timetuple().tm_yday,
        "Week-of-month": week_of_month,
        "Day-of-week": date_entry.weekday(),  # 0=Monday, 6=Sunday
    }

    return features

# Example usage
date = "2018-08-10"
features = extract_date_features(date)
print(features)

{'year': 2018, 'Month': 8, 'Quarter': 3, 'Week-of-year': 32, 'Day-of-year': 222, 'Week-of-month': 2, 'Day-of-week': 4}

In [89]:
import pandas as pd
input_data = pd.DataFrame([features])

In [91]:
input_data

   year  Month  Quarter  Week-of-year  Day-of-year  Week-of-month  Day-of-week
0  2018      8        3            32          222              2            4

In [93]:
input_data['Interest-rate'] = float(input("Interest rate"))

Interest rate 2.42

In [95]:
input_data['election-year'] = int(input("Election year"))

Election year 0

In [97]:
input_data['US_election'] = int(input("US Election"))

US Election 0

In [99]:
input_data.shape

(1, 10)

In [101]:
input_data = input_data[["Interest-rate","Month","Quarter","Week-of-year","Week-of-month","Day-of-week","Day-of-year","election-year","US_election"]]

In [103]:
input_data

,Interest-rate,Month,Quarter,Week-of-year,Week-of-month,Day-of-week,Day-of-year,election-year,US_election
0,2.42,8,3,32,2,4,222,0,0

In [105]:
input_data.shape

(1, 9)

In [107]:
input_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Interest-rate  1 non-null      float64
 1   Month          1 non-null      int64
 2   Quarter        1 non-null      int64
 3   Week-of-year   1 non-null      int64
 4   Week-of-month  1 non-null      int64
 5   Day-of-week    1 non-null      int64
 6   Day-of-year    1 non-null      int64
 7   election-year  1 non-null      int64
 8   US_election    1 non-null      int64
dtypes: float64(1), int64(8)
memory usage: 204.0 bytes

In [109]:
import joblib
model = joblib.load("rf_model1.pkl")

In [111]:
pred = model.predict(input_data)

In [113]:
pred

array([100.4163])